# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/

# Local databases
*.db
*.sqlite3

# Environment variables
.env
.env.local

# Node
node_modules/
dist/
.next/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
